###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

shared/**/*  text eol=lf
test/**/* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
packages/windows-at-driver-server/automationttsengine/**/* text eol=crlf
packages/windows-at-driver-server/makevoice/**/*           text eol=crlf
packages/windows-at-driver-server/Shared/**/*              text eol=crlf
packages/windows-at-driver-server/Vocalizer/**/*           text eol=crlf

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs     diff=csharp
